footer {
    border: 1px solid var(--VeryDarkCyan);
    color: white;
    padding: 2rem 1.5rem 1rem;
    background-color: var(--VeryDarkCyan);
}

footer p {
    font-size: .9rem;
}

.newsletter {
    margin-bottom: 8rem;
}

input {
    display: block;
    width: 100%;
    padding: .7rem;
    margin: 1.5rem 0 .8rem;
    border-radius: .2rem;
}

.error-msg {
    float: left;
    color: var(--LightRed);
}

h5 {
    font-size: 1rem;
    margin-bottom: .5rem;
}

.logoWhite {
    width: 13rem;
}

.contact {
    padding: 2rem 0 1rem;
}

.phone, .email {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 700px) {
    .footer-section {
        padding: 3rem 3rem 0;
        display: grid;
        column-gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }

    .contact-section p {
        max-width: 20rem;
    }

    .newsletter {
        order: 1;
    }

    .newsletter p {
        max-width: 25rem;
        margin-bottom: 1rem;
    }

    input {
        margin: 1rem 0;
    }
}

@media screen and (min-width: 900px) {
    form {
        display: flex;
        align-items: center;
        column-gap: 2rem;
    }
}